<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dog.name</title>
  </head>
  <body>
    <h1><%=dog.name %></h1>
    <ul>
      <li>Male Weight in kg: <%= dog.maleWtKg %></li>
      <li>Male Weight in lb: <%= dog.maleWtLb %></li>
      <li>Female Weight in kg: <%= dog.femaleWtKg %></li>
      <li>Female Weight in lb: <%= dog.femaleWtLb %></li>
    </ul>
    <a href="/dogs">Back to All Dog Breeds</a>
  </body>
</html>
